#bg-canvas {
    width: 100vw; 
    height: 100vh; 
    padding: 0; 
    margin: 0; 
    position: fixed; 
    top: 0; 
    left: 0;
}

#randomise-palette-btn {
    animation: pulse 1s ease-in-out infinite;
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 1;
    img {
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 768px) {
    #randomise-palette-btn {
        width: 20px;
        height: 20px;
        bottom: 20px;
        right: 25px;
    }
}