// @use "styles/mobile";

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@mixin noDragText {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

$largest: 1300px;
@media (max-width: $largest) {
    .app {
        display: flex;
        align-items: center;
        justify-content: center;
        .main {
            height: 760px;
            width: 1250px;
        }
    }
}

@media (min-width: 576px) {
    .moveitleft, .moveitright {
        position: absolute;
        left: 0;
        width: 25% !important;
    }
}
@media (min-width: 768px) and (max-width: $largest) {
    .header {
        margin-top: 2px;
        position: relative;
        height: 64px;
        h1 {
            font-size: 31px !important;
            animation-fill-mode: forwards;
            transition: 1s ease;
        }
        div {
            width: 100%;
            text-align: right;
        }
    }
    .moveitleft {
        animation: moveleft 1.2s ease-in-out !important;
        padding: 0 0 0 15px;
    }
    .moveitright {
        animation: moveright 1.2s ease-in-out !important;
        padding: 0 15px 0 0;
    }
    .movetitleleft {
        animation: movelefttitle 1.2s ease-in-out;
    }
    .movetitleright {
        animation: moverighttitle 1.2s ease-in-out;
    }
    .side-nav {
        .list-header {
            font-size: 26px;
        }
        li {
            font-size: 21px;
        }
    }
    .right-bit {
        .header {
            div {
                padding-right: 10px;
                left: 0;
                font-size: 26px !important;
            }
        }
        .content-item {
            height: 93vh;
        }
    }
}

@media (min-width: $largest) {
    .moveitleft {
        animation: moveleft 1.2s ease-in-out;
    }
    .moveitright {
        animation: moveright 1.2s ease-in-out;
    }
    .movetitleleft {
        animation: movelefttitle 1.2s ease-in-out;
    }
    .movetitleright {
        animation: moverighttitle 1.2s ease-in-out;
    }
    .app {
        display: flex;
        align-items: center;
        justify-content: center;
        .main {
            height: 770px !important;
            width: 1250px !important;
            
            .side-nav {
                width: 335px !important;
                .list-header {
                    font-size: 30px;
                }
                .list-item {
                    font-size: 22px;
                }
            }
            .right-bit {
                .header {
                    height: 70px;
                }
                position: absolute;
                top: 0;
                left: 335px;
                height: 100%;
                width: 915px !important;
                .header {
                    div {
                        position: absolute;
                        top: 20px;
                        right: 15px;
                    }
                }
                .content-item {
                    height: 690px;
                    overflow-y: scroll;
                }
            }
        }
    }
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // background-image: url("./res/sarahdarkslow.gif");
    background-image: url("./res/bgs/1.gif");
    // background-image: url("./res/bgs/2.gif");
    // background-image: url("./res/bgs/3.gif");
    background-size:100% 100%;
    background-color: #cccccc;
}
.app {
    .main {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgba(148,148,148, 0.34);
        color: white;
        overflow: hidden;
        --sheenX: 0;
        --sheenY: 0;
        .side-nav {
            @include noDragText();
            width: 30%;
            height: 100%;
            overflow-y: scroll;
            font-family: "VT323";
            .list-header {
                padding-left: 20px;
                font-weight: 500;
                margin: 22px auto;
            }
            ul {
                list-style-type: none;
                margin: 0;
                margin-top: -10px;
                padding: 0;
                li {
                    padding: 10px 15px 11px 32px;
                }
                .highlight {
                    background-color: rgba(255, 255, 255, 0.25);
                }
            }
        }
        .right-bit {
            width: 70%;
            .header {
                @include noDragText();
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 26px;
                font-family: "VT323";
                h1 {
                    font-size: 42px;
                    font-weight: bold;
                    animation-fill-mode: forwards !important;
                }
                div {
                    font-weight: normal;
                    font-size: 30px;
                    margin-right: 5px;
                    animation-fill-mode: forwards;
                    transition: 1s ease;
                }
            }
            .content-item {
                overflow-y: scroll; 
                .image-container {
                    height: 530px;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    font-family: 'Roboto Mono', monospace;
                    padding: 2em 2em;
                }
            }
        }
    }
}

@mixin hideScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}
.mobile-nav {
    ul {
        list-style-type: none;
        li {
            float: left;
            padding: 10px 10px;
        }
    }
    #category-list {
        @include hideScrollbar();
        display: flex;
        width: 400px;
        overflow-x: auto;
        .list-item {
            padding: 10px 20px;
            width: auto;
            height: 10px;
            // display: block ruby;
            a {
                white-space: nowrap;
            }
        }
    }
}

.main::after {
    content: "";
    position: absolute;
    top: -400px;
    right: -400px;
    bottom: -400px;
    left: -400px;
    background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255, 255, 255, 0.034) 45%, rgba(255, 255, 255, 0.089) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
    transform: translateX(var(--sheenX)) translateY(var(--sheenY));
    pointer-events: none;
}
.hideit {
    display: none;
}



@keyframes moveleft {
    0% {
        right: 0%;
        left: 73%;
        text-align: right;
    }
    100% {
        right: 100%;
        left: 0%;
        text-align: left;
    }
}
@keyframes moveright {
    0% {
        right: 100%;
        left: 0%;
        text-align: left;
    }
    100% {
        right: 0%;
        left: 73%;
        text-align: right;
    }
}
@keyframes movelefttitle {
    0% {
        color: rgba(255,255,255,0);
    }
    100% {
        color: white;
    }
}
@keyframes moverighttitle {
    100% {
        color: white;
    }
    0% {
        color: rgba(255,255,255,0);
    }
}
@keyframes movelefta {
    0% {
        left: 50vw;
    }
    100% {
        left: 15px;
    }
}
@keyframes moverighta {
    0% {
        left: 15px;
    }
    100% {
        left: 50vw;
    }
}

//SCROLLBAR

#content-scrollbar-cust, #sidenav-scrollbar-cust {
    scrollbar-color: gray rgba(1,0,0,0);
    scrollbar-width: thin;
}
#content-scrollbar-cust::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f5f5f500;
}
#content-scrollbar-cust::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f500;
}
#content-scrollbar-cust::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(173, 173, 173);
}

#sidenav-scrollbar-cust::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f5f5f500;
}
#sidenav-scrollbar-cust::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f500;
}
#sidenav-scrollbar-cust::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(173, 173, 173);
}