@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@media (max-width: 1300px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .main {
    height: 760px;
    width: 1250px;
  }
}

@media (max-width: 576px) {
  .app {
    overflow: hidden;
  }
  .bg::before {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .mobile-wrap {
    width: 100%;
  }
  .header-selected-item {
    display: none;
  }
  .header h1, .mobile-nav {
    font-family: "VT323";
  }
  .carousel-wrap {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    display: -ms-grid;
    display: grid;
    will-change: transform;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-snap-coordinate: 0 0;
        scroll-snap-coordinate: 0 0;
    -ms-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .carousel-wrap::-webkit-scrollbar {
    display: none;
  }
  .carousel-wrap .mobile-content-item {
    height: 80vh;
    scroll-snap-align: start;
    width: 100vw;
    font-family: "Roboto Mono";
    font-weight: normal;
  }
  .carousel-wrap .mobile-content-item .image-container {
    height: 30vh;
  }
  .carousel-wrap .mobile-content-item .image-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carousel-wrap .mobile-content-item .content {
    padding: 5px 15px 15px 15px;
    font-size: 13px;
    height: 42vh;
    overflow-y: auto;
  }
  .carousel-wrap .mobile-content-item .content h1 {
    font-size: 18px;
  }
  .carousel-wrap .mobile-content-item .swipe-prompt {
    width: 90vw;
    text-align: right;
    margin: 3vh 5vw;
  }
}

@media (min-width: 576px) {
  .moveitleft, .moveitright {
    position: absolute;
    left: 0;
    width: 25% !important;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .header {
    margin-top: 2px;
    position: relative;
    height: 64px;
  }
  .header h1 {
    font-size: 31px !important;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .header div {
    width: 100%;
    text-align: right;
  }
  .moveitleft {
    -webkit-animation: moveleft 1.2s ease-in-out !important;
            animation: moveleft 1.2s ease-in-out !important;
    padding: 0 0 0 15px;
  }
  .moveitright {
    -webkit-animation: moveright 1.2s ease-in-out !important;
            animation: moveright 1.2s ease-in-out !important;
    padding: 0 15px 0 0;
  }
  .movetitleleft {
    -webkit-animation: movelefttitle 1.2s ease-in-out;
            animation: movelefttitle 1.2s ease-in-out;
  }
  .movetitleright {
    -webkit-animation: moverighttitle 1.2s ease-in-out;
            animation: moverighttitle 1.2s ease-in-out;
  }
  .side-nav .list-header {
    font-size: 26px;
  }
  .side-nav li {
    font-size: 21px;
  }
  .right-bit .header div {
    padding-right: 10px;
    left: 0;
    font-size: 26px !important;
  }
  .right-bit .content-item {
    height: 93vh;
  }
}

@media (min-width: 1300px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .main {
    height: 770px !important;
    width: 1250px !important;
  }
  .app .main .side-nav {
    width: 335px !important;
  }
  .app .main .side-nav .list-header {
    font-size: 30px;
  }
  .app .main .side-nav .list-item {
    font-size: 22px;
  }
  .app .main .right-bit {
    position: absolute;
    top: 0;
    left: 335px;
    height: 100%;
    width: 915px !important;
  }
  .app .main .right-bit .header {
    height: 70px;
  }
  .app .main .right-bit .header div {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .app .main .right-bit .content-item {
    height: 690px;
    overflow-y: scroll;
  }
  .moveitleft {
    -webkit-animation: moveleft 1.2s ease-in-out;
            animation: moveleft 1.2s ease-in-out;
  }
  .moveitright {
    -webkit-animation: moveright 1.2s ease-in-out;
            animation: moveright 1.2s ease-in-out;
  }
  .movetitleleft {
    -webkit-animation: movelefttitle 1.2s ease-in-out;
            animation: movelefttitle 1.2s ease-in-out;
  }
  .movetitleright {
    -webkit-animation: moverighttitle 1.2s ease-in-out;
            animation: moverighttitle 1.2s ease-in-out;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./res/bgs/1.gif");
  background-size: 100% 100%;
  background-color: red;
}

.app {
  -webkit-perspective: 800px;
          perspective: 800px;
}

.app .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 148, 148, 0.34);
  color: white;
  overflow: hidden;
  --sheenX: 0;
  --sheenY: 0;
}

.app .main .side-nav {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  font-family: "VT323";
}

.app .main .side-nav .list-header {
  padding-left: 20px;
  font-weight: 500;
  margin: 22px auto;
}

.app .main .side-nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: -10px;
  padding: 0;
}

.app .main .side-nav ul li {
  padding: 10px 15px 11px 32px;
}

.app .main .side-nav ul .highlight {
  background-color: rgba(255, 255, 255, 0.25);
}

.app .main .right-bit {
  width: 70%;
}

.app .main .right-bit .header {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 26px;
  font-family: "VT323";
}

.app .main .right-bit .header h1 {
  font-size: 42px;
  font-weight: bold;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.app .main .right-bit .header div {
  font-weight: normal;
  font-size: 30px;
  margin-right: 5px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.app .main .right-bit .content-item {
  overflow-y: scroll;
}

.app .main .right-bit .content-item .image-container {
  height: 530px;
}

.app .main .right-bit .content-item .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app .main .right-bit .content-item .content {
  font-family: 'Roboto Mono', monospace;
  padding: 2em 2em;
}

.mobile-nav ul {
  list-style-type: none;
}

.mobile-nav ul li {
  float: left;
  padding: 10px 10px;
}

.mobile-nav #category-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  overflow-x: auto;
}

.mobile-nav #category-list::-webkit-scrollbar {
  display: none;
}

.mobile-nav #category-list .list-item {
  padding: 10px 20px;
  width: auto;
  height: 10px;
}

.mobile-nav #category-list .list-item a {
  white-space: nowrap;
}

.main::after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  background: linear-gradient(217deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.034) 45%, rgba(255, 255, 255, 0.089) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(var(--sheenX)) translateY(var(--sheenY));
          transform: translateX(var(--sheenX)) translateY(var(--sheenY));
  pointer-events: none;
}

.hideit {
  display: none;
}

@-webkit-keyframes moveleft {
  0% {
    right: 0%;
    left: 73%;
    text-align: right;
  }
  100% {
    right: 100%;
    left: 0%;
    text-align: left;
  }
}

@keyframes moveleft {
  0% {
    right: 0%;
    left: 73%;
    text-align: right;
  }
  100% {
    right: 100%;
    left: 0%;
    text-align: left;
  }
}

@-webkit-keyframes moveright {
  0% {
    right: 100%;
    left: 0%;
    text-align: left;
  }
  100% {
    right: 0%;
    left: 73%;
    text-align: right;
  }
}

@keyframes moveright {
  0% {
    right: 100%;
    left: 0%;
    text-align: left;
  }
  100% {
    right: 0%;
    left: 73%;
    text-align: right;
  }
}

@-webkit-keyframes movelefttitle {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}

@keyframes movelefttitle {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes moverighttitle {
  100% {
    color: white;
  }
  0% {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes moverighttitle {
  100% {
    color: white;
  }
  0% {
    color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes movelefta {
  0% {
    left: 50vw;
  }
  100% {
    left: 15px;
  }
}

@keyframes movelefta {
  0% {
    left: 50vw;
  }
  100% {
    left: 15px;
  }
}

@-webkit-keyframes moverighta {
  0% {
    left: 15px;
  }
  100% {
    left: 50vw;
  }
}

@keyframes moverighta {
  0% {
    left: 15px;
  }
  100% {
    left: 50vw;
  }
}

#content-scrollbar-cust, #sidenav-scrollbar-cust, .cust-scroll {
  scrollbar-color: rgba(199, 199, 199, 0.5) rgba(1, 0, 0, 0);
  scrollbar-width: thin;
}

#content-scrollbar-cust::-webkit-scrollbar-track,
#sidenav-scrollbar-cust::-webkit-scrollbar-track,
.cust-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f500;
}

#content-scrollbar-cust::-webkit-scrollbar,
#sidenav-scrollbar-cust::-webkit-scrollbar,
.cust-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f500;
}

#content-scrollbar-cust::-webkit-scrollbar-thumb,
#sidenav-scrollbar-cust::-webkit-scrollbar-thumb,
.cust-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(173, 173, 173, 0.5);
}
/*# sourceMappingURL=App.css.map */