@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 1300px) {
  .moveitleft {
    -webkit-animation: moveleft 1.2s ease-in-out;
            animation: moveleft 1.2s ease-in-out;
  }
  .moveitright {
    -webkit-animation: moveright 1.2s ease-in-out;
            animation: moveright 1.2s ease-in-out;
  }
  .movetitleleft {
    -webkit-animation: movelefttitle 1.2s ease-in-out;
            animation: movelefttitle 1.2s ease-in-out;
  }
  .movetitleright {
    -webkit-animation: moverighttitle 1.2s ease-in-out;
            animation: moverighttitle 1.2s ease-in-out;
  }
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .main {
    height: 770px !important;
    width: 1250px !important;
  }
  .app .main .side-nav {
    width: 335px !important;
  }
  .app .main .right-bit {
    position: absolute;
    top: 0;
    left: 335px;
    height: 100%;
    width: 915px !important;
  }
  .app .main .right-bit .header span {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .app .main .right-bit .content-item {
    height: 690px;
    overflow-y: scroll;
  }
}

@media (max-width: 1300px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .main {
    height: 760px;
    width: 1250px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./res/bgs/1.gif");
  background-size: 100% 100%;
  background-color: #cccccc;
}

.app .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 148, 148, 0.34);
  color: white;
  overflow: hidden;
  /* Try removing this to see how the sheen works! */
  --sheenX: 0;
  /* Set these with JavaScript */
  --sheenY: 0;
}

.app .main .side-nav {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  font-family: "VT323";
}

.app .main .side-nav .list-header {
  padding-left: 20px;
  font-size: 30px;
  font-weight: 500;
  margin: 22px auto;
}

.app .main .side-nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: -10px;
  padding: 0;
}

.app .main .side-nav ul li {
  padding: 10px 15px 11px 32px;
  font-size: 22px;
}

.app .main .side-nav ul .highlight {
  background-color: rgba(255, 255, 255, 0.25);
}

.app .main .right-bit {
  width: 70%;
}

.app .main .right-bit .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 26px;
  height: 70px;
  font-family: "VT323";
}

.app .main .right-bit .header h1 {
  font-size: 42px;
  font-weight: bold;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.app .main .right-bit .header span {
  font-weight: normal;
  font-size: 30px;
  margin-right: 5px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: rgba(255, 255, 255, 0);
}

.app .main .right-bit .header .nottransparent {
  color: white;
}

.app .main .right-bit .content-item .image-container {
  height: 530px;
}

.app .main .right-bit .content-item .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app .main .right-bit .content-item .content {
  font-family: 'Roboto Mono', monospace;
  padding: 2em 2em;
}

.main::after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  background: linear-gradient(217deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.034) 45%, rgba(255, 255, 255, 0.089) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(var(--sheenX)) translateY(var(--sheenY));
          transform: translateX(var(--sheenX)) translateY(var(--sheenY));
  pointer-events: none;
}

.hideit {
  display: none;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .header {
    position: relative;
  }
  .right-bit .header span {
    position: absolute;
    left: 20px;
    font-size: 26px !important;
  }
}

.moveitleft {
  position: absolute;
  left: 0;
  text-align: left;
  width: 25% !important;
}

.moveitright {
  position: absolute;
  left: 0;
  text-align: left;
  width: 25% !important;
}

@-webkit-keyframes moveleft {
  0% {
    right: 0%;
    left: 75%;
    color: red;
    text-align: right;
  }
  100% {
    right: 100%;
    left: 0%;
    color: blue;
    text-align: left;
  }
}

@keyframes moveleft {
  0% {
    right: 0%;
    left: 75%;
    color: red;
    text-align: right;
  }
  100% {
    right: 100%;
    left: 0%;
    color: blue;
    text-align: left;
  }
}

@-webkit-keyframes movelefta {
  0% {
    left: 50vw;
  }
  100% {
    left: 15px;
  }
}

@keyframes movelefta {
  0% {
    left: 50vw;
  }
  100% {
    left: 15px;
  }
}

@-webkit-keyframes moverighta {
  0% {
    left: 15px;
  }
  100% {
    left: 50vw;
  }
}

@keyframes moverighta {
  0% {
    left: 15px;
  }
  100% {
    left: 50vw;
  }
}

@-webkit-keyframes moveright {
  100% {
    right: 0%;
    left: 75%;
    color: red;
    text-align: right;
  }
  0% {
    right: 100%;
    left: 0%;
    color: blue;
    text-align: left;
  }
}

@keyframes moveright {
  100% {
    right: 0%;
    left: 75%;
    color: red;
    text-align: right;
  }
  0% {
    right: 100%;
    left: 0%;
    color: blue;
    text-align: left;
  }
}

@-webkit-keyframes movelefttitle {
  0% {
    margin-right: -77%;
  }
  100% {
    padding-right: 5px;
  }
}

@keyframes movelefttitle {
  0% {
    margin-right: -77%;
  }
  100% {
    padding-right: 5px;
  }
}

@-webkit-keyframes moverighttitle {
  0% {
    padding-right: 5px;
  }
  100% {
    margin-right: -77%;
  }
}

@keyframes moverighttitle {
  0% {
    padding-right: 5px;
  }
  100% {
    margin-right: -77%;
  }
}

#content-scrollbar-cust::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f500;
}

#content-scrollbar-cust::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

#content-scrollbar-cust::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadad;
}

#sidenav-scrollbar-cust::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f500;
}

#sidenav-scrollbar-cust::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

#sidenav-scrollbar-cust::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadad;
}
/*# sourceMappingURL=App.css.map */